:root {
  /* primary colors */
  --black: rgb(9, 8, 9);
  --white: rgb(253, 247, 250);
  --gray: rgb(20, 19, 23);
  --light-gray: rgb(30, 30, 36);
  --lighter-gray: rgb(86, 85, 90);

  /* accent colors */
  --blush-pink: rgb(253, 197, 245);
  --mauve: rgb(247, 174, 248);
  --bright-lavender: rgb(128, 147, 241);
  --wisteria-blue: rgb(128, 147, 241);
  --sky-blue: rgb(114, 221, 247);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--gray);
  background: var(--white);
  @media (prefers-color-scheme: dark) {
    color: var(--white);
    background: var(--gray);
  }
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
  font-variation-settings: "slnt" 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

a {
  cursor: pointer;

  transition: var(--primary-transition);
  color: var(--white);
}

/* unvisited link */
a:link {
  color: var(--wisteria-blue);
}

/* visited link */
a:visited {
  color: var(--bright-lavender);
}

/* mouse over link */
a:hover {
  color: var(--mauve);
}

/* selected link */
a:active {
  color: var(--blush-pink);
}

.center {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 8px;
}

li {
  margin-left: 24px;
}
