:root {
  /* primary colors */
  --black: rgb(9, 8, 9);
  --white: rgb(253, 247, 250);
  --gray: rgb(20, 19, 23);
  --light-gray: rgb(30, 30, 36);
  --lighter-gray: rgb(86, 85, 90);

  /* accent colors */
  --blush-pink: rgb(253, 197, 245);
  --mauve: rgb(247, 174, 248);
  --bright-lavender: rgb(128, 147, 241);
  --wisteria-blue: rgb(128, 147, 241);
  --sky-blue: rgb(114, 221, 247);

  /* transitions */
  --primary-transition: all ease-in-out 0.01s;
}

html {
  font-family: "League Spartan", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
  font-variation-settings: "slnt" 0;
  background: var(--gray);

  margin: 0;
  height: 100%;

  overflow: hidden;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  color: var(--white);
}

.left {
  left: 0;
  top: 0;
  position: absolute;
  height: 100dvh;
  width: 50dvw;
  /* background-color: var(--mauve); */
}
.right {
  right: 0;
  top: 0;
  position: absolute;
  height: 100dvh;
  width: 50dvw;
  /* background-color: var(--sky-blue); */
}
