---
import BaseHead from "@/components/BaseHead.astro";
import Blockquote from "@/components/Blockquote.astro";
import GithubRepoBlockquote from "@/components/GithubRepoBlockquote.astro";
import type { GithubUserInfo, GithubSocials } from "@/lib/github";
import { createProps, type PageProps } from "@/lib/page-info";
import { capitalizeFirstLetter, cachedFetchAs } from "@/lib/util";

const props: PageProps = createProps({
  title: "home",
  description:
    "artimora home page; sup, we make games. nothing here yet though",
  image: "banner.png",
});

const result = await cachedFetchAs<GithubUserInfo>(
  "https://api.github.com/users/artimora"
);

const socials = await cachedFetchAs<GithubSocials>(
  "https://api.github.com/users/artimora/social_accounts"
);
---

<html lang="en">
  <head>
    <BaseHead props={props} />
  </head>
  <body>
    <div class="card limit">
      <h1 class="no-bottom-spacing">Artimora</h1>
      <hr />
      <p>
        {result.bio}
      </p>
      <h2 class="spacer-title no-bottom-spacing">Social</h2>
      <hr />
      {
        socials.map((s) => {
          return (
            <Blockquote>
              <h3>
                <a href={s.url}>{capitalizeFirstLetter(s.provider)}</a>
              </h3>
            </Blockquote>
          );
        })
      }
      <Blockquote>
        <h3>
          <a href="mailto:contact@artimora.dev">Email</a>
        </h3>
      </Blockquote>
      <h2 class="spacer-title no-bottom-spacing">Projects</h2>
      <hr />
      <GithubRepoBlockquote name="fdb" />
      <GithubRepoBlockquote name="kronos" />
      <GithubRepoBlockquote name="generator" />
    </div>
  </body>
</html>
