---
import BaseHead from "@/components/BaseHead.astro";
import LinkSection from "@/components/LinkSection.astro";
import { createProps, type PageProps } from "@/lib/page-info";

const props: PageProps = createProps({
  title: "home",
  description:
    "artimora home page; sup, we make games. nothing here yet though",
  image: "banner.png",
});
---

<html lang="en">
  <head>
    <BaseHead props={props} />
  </head>
  <body>
    <main class="center">
      <h1>artimora</h1>
      <p>sup, we <i>(hopefully will)</i> make games.</p>
      <p>nothing here yet though.</p>

      <ul>
        <li>
          <p>socials</p>
          <LinkSection
            links={[
              { href: "https://x.com/artimorastudios", label: "twitter" },
              {
                href: "https://www.instagram.com/artimorastudios/",
                label: "instagram",
              },
              { href: "https://github.com/artimora", label: "github" },
              { href: "mailto:contact@artimora.dev", label: "email" },
              {
                href: "https://modrinth.com/organization/artimora",
                label: "modrinth",
              },
            ]}
          />
        </li>
        <li>
          <p>projects</p>
          <LinkSection
            links={[
              {
                href: "https://github.com/artimora/dbs",
                label: "dbs",
                description: "db utility libraries",
              },
            ]}
          />
          <ul>
            <li>
              <p>
                <a href="https://github.com/artimora/dbs" target="_blank">dbs</a
                > - db utility libraries
              </p>
            </li>
            <li>
              <p>
                <a href="https://github.com/artimora/kronos" target="_blank"
                  >kronos</a
                > - thin, easy to use, web framework
              </p>
            </li>
            <li>
              <p>
                <a href="https://github.com/artimora/hangar" target="_blank"
                  >hangar</a
                > - simple dev server powered by vite and hono
              </p>
            </li>
            <li>
              <p>
                <a href="https://gatsby.artimora.dev/" target="_blank">gatsby</a
                > - org plans countdowns (mainly for internal use)
              </p>
            </li>
          </ul>
        </li>
      </ul>
    </main>
  </body>
</html>
