---
import BaseHead from "@/components/BaseHead.astro";
import LinkSection from "@/components/LinkSection.astro";
import { createProps, type PageProps } from "@/lib/page-info";

const props: PageProps = createProps({
  title: "home",
  description:
    "artimora home page; sup, we make games. nothing here yet though",
  image: "banner.png",
});
---

<html lang="en">
  <head>
    <BaseHead props={props} />
  </head>
  <body class="center">
    <main>
      <h1>artimora</h1>
      <p>sup, we <i>(hopefully will)</i> make games.</p>
      <p>nothing here yet though.</p>

      <ul>
        <li>
          <p>socials</p>
          <LinkSection
            links={[
              { href: "https://x.com/artimorastudios", label: "twitter" },
              {
                href: "https://www.instagram.com/artimorastudios/",
                label: "instagram",
              },
              { href: "https://github.com/artimora", label: "github" },
              { href: "mailto:contact@artimora.dev", label: "email" },
              {
                href: "https://modrinth.com/organization/artimora",
                label: "modrinth",
              },
            ]}
          />
        </li>
        <li>
          <p>projects</p>
          <LinkSection
            links={[
              {
                href: "https://gatsby.artimora.dev/",
                label: "gatsby",
                description: "org plans countdowns (mainly for internal use)",
              },
            ]}
          />
        </li>
        <li>
          <p>libraries</p>
          <LinkSection
            links={[
              {
                href: "https://github.com/artimora/dbs",
                label: "dbs",
                description: "db utility libraries",
              },
              {
                href: "https://github.com/artimora/kronos",
                label: "kronos",
                description: "thin, easy to use, web framework",
              },
              {
                href: "https://github.com/artimora/hangar",
                label: "hangar",
                description: "simple dev server powered by vite and hono",
              },
            ]}
          />
        </li>
      </ul>
    </main>
  </body>
</html>
